@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}

body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Wembley_Stadium_interior.jpg/1200px-Wembley_Stadium_interior.jpg');
    background-size: cover;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00004a;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro' , sans-serif;
}

li:hover {
    color: #0052cc;
}

#logo {
    width: 150px;
    height: 100%;
}

h1 {
display: flex;
justify-content: center;
font-size: 50px;
color: aliceblue;
margin-top: 20px;
margin-bottom: 25px;
font-weight: bold;
}

.coments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 980px;
    margin: 0 auto;
    column-gap: 40px;
    margin-bottom: 50px;
}

.card {
    background-color: #00004a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 10px aliceblue;
    border-radius: 20px;
}

h3 {
    color: aliceblue;
    font-weight: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p {
    color: aliceblue;
    font-weight: 27px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.imagem {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50% 50%;
}

#card-logo {
    width: 100px;
    margin-top: 65px;
}

#card-logo2 {
    width: 100px;
    margin-top: 42px;
}

#card-logo3 {
    width: 100px;
    margin-top: 15px;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: aliceblue;
    margin-top: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}